//-------------
//  Variables
//-------------

// The gutter width
//
// This variable should preferably be the same as the base spacing unit used
// in the site's layout.
sigrid-gutter = 1.5em unless sigrid-gutter is defined

// The type of classes used
//
// If this is set to `true`, classes will be used in the generated code
// instead of placeholder selectors.
use-classes = true unless use-classes is defined
